.addIngredients {
    border: 1px inset darkslategrey;
    padding: 1rem 1.25rem;
}

.addedIngredients {
    border: 1px solid darkslategray;
    padding: 0.5rem;
}

.addedIngredientRow {
    display: flex;
    justify-content: space-between;
}

.ingredientInputContainer {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    border: 1px dotted black;
}

.ingredientInputs {
    flex-basis: 25%;
}

.ingredient--control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#ingredientChoices {
    height: calc(2.35em + .75rem + 2px);
}