.dropdown {
    position: relative;
    display: inline-block;
    min-width: 160px;
  }
  /*
  .dropdown-button {
    background-color: #fff;
    border: none;
    color: #000;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  */
  .dropdown-button {
    margin-left: auto;
    width: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  #gastroHamburger {
    width: 100%;
    margin: 0;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown--link {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown--link:hover {
    background-color: #f1f1f1;
  }
  