.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
    animation: navFade 0.75s;
}

@keyframes navFade {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    /* border: 1px dashed darkslategray; */
}

.navbar__menu {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar__logo {
    height: 100%;
    cursor: pointer;
}

#gastroTitle {
    cursor: pointer;
}

#logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    height: 20vh;
}


