.recipeForm--control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.addIngredients {
    width: 94%;
    border: 1px inset darkslategrey;
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
}

.addedIngredients {
    border: 1px solid darkslategray;
    padding: 0.5rem;
    height: 20vh;
    overflow: auto;
    margin-bottom: 1rem;
}

.addedIngredientRow {
    display: flex;
    justify-content: space-between;
}

.addedIngredientRow span {
    flex-basis: 25%;
}

.flex-column1 {
    text-align: left;
}

.flex-column2 {
    text-align: center;
}

.flex-column3 {
    text-align: right;
}

.ingredientInputContainer {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    border: 1px dotted black;
    flex-wrap: wrap;
}

.ingredientInputs {
    min-width: 0;
}

.ingredient--control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.recipe--textarea {
    height: 4rem;
}

.recipeTimes {
    display: flex;
    justify-content: space-between;
    width: 94%;
}

.recipeTime--div {
    flex-basis: 45%;
}

.recipeTime--input {
    width: 100%;
}

.addedCategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.addedCategory {
    background-color: lightgrey;
    border-radius: 20px;
    padding: .25rem .5rem;
}

.submitRecipe {
    margin-bottom: 1.5rem;
}

.btn--removeCat {
    border: none;
    background-color: inherit;
    color: rgba(31, 31, 31, .25);
    margin-left: .25rem;
}

.btn--removeCat:hover {
    color: firebrick;
    cursor: pointer;
}
